<%- include('../includes/head.ejs') %>
<!-- <link rel="stylesheet" href="/css/form.css" /> -->
<link rel="stylesheet" href="/css/global.css" />
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body shadow">
                        <h5 class="card-title text-center">Sign In</h5>
                        <% if (errorMessage) { %>
                        
                        <div class="alert alert-danger" role="alert">
                            <%= errorMessage %> 
                        </div>
                        <% } %>
                        <form class="form-signin" action="/reset" method="POST">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                            <div class="form-label-group">
                                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address"
                                    autofocus>
                                <!-- <label for="inputEmail">Email address</label> -->
                            </div>

                            
                            <button style="margin-top: 20px;" class="btn btn-lg btn-primary btn-block text-uppercase"
                                type="submit">Reset Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include('../includes/footer.ejs') %>
<%- include('../includes/end.ejs') %>