<%- include('../includes/head.ejs') %>
<!-- <link rel="stylesheet" href="/css/form.css" /> -->
<link rel="stylesheet" href="/css/global.css" />
</head>

<body>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body shadow">
                        <h5 class="card-title text-center">Sign up</h5>
                        <% if (errorMessage) { %>
                        
                        <div class="alert alert-danger" role="alert">
                            <%= errorMessage %> 
                        </div>
                        <% } %>
                        <form class="form-signin" action="/signup" method="POST" novalidate>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                            <div class="form-label-group">
                                <input 
                                type="email" 
                                name="email" 
                                id="inputEmail" 
                                class="form-control <%= validationErrors.find(e => e.param ===  'email') ? 'is-invalid' : '' %>" 
                                placeholder="Email address"
                                autofocus value="<%= oldInput.email %>" >
                                <!-- <label for="inputEmail">Email address</label> -->
                            </div>

                            <div class="form-label-group">
                                <input type="password" style="margin-top: 20px;" name="password" id="inputPassword"
                                    class="form-control <%= validationErrors.find(e => e.param ===  'password') ? 'is-invalid' : '' %>" placeholder="Password" value="<%= oldInput.password %>">
                                <!-- <label for="inputPassword">Password</label> -->
                            </div>

                            <div class="form-label-group">
                                <input type="password" style="margin-top: 20px;" name="confirmPassword" id="inputPassword"
                                    class="form-control <%= validationErrors.find(e => e.param ===  'confirmPassword') ? 'is-invalid' : '' %>" placeholder="Confirm Password" value="<%= oldInput.confirmPassword %>">
                                <!-- <label for="inputPassword">Password</label> -->
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input style="margin-top: 20px;" type="checkbox" class="custom-control-input" id="customCheck1">
                                <label style="margin-top: 20px;" class="custom-control-label" for="customCheck1">Remember
                                    password</label>
                            </div>
                            <button style="margin-top: 20px;" class="btn btn-lg btn-primary btn-block text-uppercase"
                                type="submit">Sign up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<%- include('../includes/end.ejs') %>