<%- include('../includes/head.ejs') %> 
</head>
  <style>
    .margin50 {
      margin-top: 50px;
    }
  </style>
  <body>
    <%- include('../includes/navigation.ejs') %> 

    <div class="container-fluid bg-light py-3">
    <div class="row">
        <div class="col-md-6 mx-auto">
                <div class="card card-body">
                    <h3 class="text-center mb-4">Add Product</h3>
                    <form
                     class="form-horizontal justify-content-center" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>"
                      
                       method="POST"
                      >
                      
                       
                   
                    <fieldset>
                        <div class="form-group">
                            <label class="" for="Name">Name</label>
                            <input
                                type="text"
                                id="name"
                                name="name"
                                placeholder=""
                                value="<% if (editing) { %><%= product.name %><% } %>"
                                class="form-control input-lg"
                              />
                            
                        </div>
                        <div class="form-group ">
                            <label class="" for="Price">Price</label>
                            <input
                                type="number"
                                id="Price"
                                name="price"
                                placeholder=""
                                value="<% if (editing) { %><%= product.price %><% } %>"
                                class="form-control input-lg"
                                step="0.01"
                              />
                            
                        </div>
                        <div class="form-group">
                            <label class="" for="imageUrl">Image Url</label>
                            <input
                                type="text"
                                id="imageUrl"
                                name="imageUrl"
                                placeholder=""
                                value="<% if (editing) { %><%= product.imageUrl %><% } %>"
                                class="form-control input-lg"
                              />
                            
                        </div>
                        <div class="form-group">
                            <label class="" for="productType">Product Type</label>
                            
                              <select class="form-control input-lg" name="productType">
                                <option selected>Choose One...</option>
                                <option value="Phone">Phone</option>
                                <option value="Laptop">Laptop</option>
                                <option value="Pc">Pc</option>
                                <option value="Clothes">Clothes</option>
                            </select>
                            
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control input-lg" name="description" rows="5" id="description"><% if (editing) { %><%= product.description %><% } %></textarea>
                        </div>
                        <% if (editing) { %>
                        <input type="hidden" value="<%= product.id %>" name="productId">
                        <% } %>

                        <input class="btn btn-lg btn-outline-success float-right" value="<% if (editing) { %>
                         Update Product
                         <% } else { %>
                         Add Product
                        <% } %>" type="submit">
  
                    </fieldset>
                  </form>  
                </div>
        </div>
    </div>
</div>


    
  
   <%- include('../includes/end.ejs') %> 
