<!-- navigation starts -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <!-- navbar brand -->
    <a class="navbar-brand" style="font-size: 27px" href="/"><span style="color:yellow"><strong>Oued</strong></span><span
        style="color:aqua">Kniss</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- navbar items start -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link <%= path === '/' ? 'active' : '' %> " href="/">Shop <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= path === '/products' ? 'active' : '' %>" href="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= path === '/cart' ? 'active' : '' %>" href="/wishlist">Wishlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= path === '/orders' ? 'active' : '' %>" href="/orders">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add
            Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
    <!-- navbar items ends -->
  </div>
</nav>